{% load static tailwind_tags %}
{% load django_htmx %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    
    <title>{% block title %}Django Tailwind{% endblock %}</title>
    
    <!-- CSS -->
    {% tailwind_css %}
    {% block extra_css %}{% endblock %}
    
    <!-- HTMX -->
    {% htmx_script %}
    
    <!-- Alpine.js - Load as defer for better performance -->
    <script defer src="{% static 'js/dist/app.js' %}"></script>
    
    {% block extra_head %}{% endblock %}
</head>

<body class="{% block body_class %}bg-gray-50 text-black font-sans leading-normal tracking-normal{% endblock %}">
    {% block body_header %}{% endblock %}
    
    <div class="{% block container_class %}container mx-auto{% endblock %}">
        {% block content %}
        {% endblock %}
    </div>
    
    {% block body_footer %}{% endblock %}
    
    {% block extra_js %}{% endblock %}
</body>
</html>
